.tech {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.technology {
  display: flex;
  flex-direction: column;
  margin: 20px 8%;
  justify-content: center;
  text-align: center;
  width: 120px;
  border-radius: 30px;

  
}
.technology img {
  border-radius: 20px;
}
@media screen and (max-width: 480px) {
  .technology {
    
    margin: 10px;
    width: 80px;
    justify-content:left;
    text-align: center;
    
  }

}

