.navbar{
    margin-top: 14px;
    display: flex;
    background-color: rgb(39, 36, 36);
    flex-wrap: wrap;
    width: 100%;
    overflow: auto;
    /* position: fixed;  */
    top: 0; 
    width: 100%; 
    justify-content: center;
    text-align: center;
}

.span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ff004f;
    cursor: pointer;
    height: 60px;
}
span h2{
    color: white;
}
.navigations {
    display: flex;
    flex-wrap: wrap;
    margin-right: 15%;
    right: 40px;
    overflow: auto;
    align-items: center;
    justify-content: center;
    margin-left: 15px;


}

.navigations li {
    font-family: 'Lora', serif;
    list-style: none;
    padding: 5px 25px;
    display: flex;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    background-color:rgb(38, 35, 35);
    margin: 0 5px;
}

.navigations li:hover {
    background-color:black ;
    color:#ff004f;
    transition: all 0.3s ease-in;
}
.navbar h1{
    color:#ff004f; 
}